@{
    ViewData["Title"] = "Izvještaji";
}

<div class="container-fluid mt-4 mb-3">
    <ul class="list-unstyled">
        <li class="p-3">
            <a class="btn btn-secondary" asp-action="ProjektniZahtjeviExcel">Popis svih projektnih zahtjeva (Excel)</a>
        </li>
        <li class="p-3">
            <a class="btn btn-secondary"  asp-action="VrsteZahtjevaExcel">Popis svih vrsta zahtjeva (Excel)</a>
        </li>
    </ul>

</div>