@{
    ViewData["Title"] = "Izvještaji";
}

<div class="container-fluid mt-4 mb-3">
    <ul class="list-unstyled">
        <li class="p-3">
            <a target="_blank" class="btn btn-primary" asp-action="Projekti">Popis svih projekata (PDF report)</a>
        </li>
        <li class="p-3">
            <a target="_blank" class="btn btn-primary" asp-action="Dokumenti">Popis svih dokumenata (PDF report)</a>
        </li>
    </ul>

    <hr />

    <ul class="list-unstyled">
        <li class="p-3">
            <a class="btn btn-secondary" asp-action="ProjektiExcel">Popis svih projekata (Excel)</a>
        </li>
        <li class="p-3">
            <a class="btn btn-secondary"  asp-action="DokumentiExcel">Popis svih dokumenata (Excel)</a>
        </li>
    </ul>

</div>


