<table id="template" style="visibility:hidden">
    <tr>

        <td class="text-center col-sm-1">
            <input name="Zadaci[--id--].PlanPocetak" class="form-control" value="--planPocetak--" />
        </td>
        <td class="text-center col-sm-1">
            <input name="Zadaci[--id--].PlanKraj" class="form-control" value="--planKraj--" />
        </td>
        <td class="text-center col-sm-1">
            <input name="Zadaci{--id--].StvarniPocetak" class="form-control" value="--stvarniPocetak--" />
        </td>
        <td class="text-center col-sm-1">
            <input name="Zadaci[--id--].StavarniKraj" class="form-control" value="-stvarniKraj--" />
        </td>
        <td class="text-center col-sm-1">
            <input name="Zadaci[--id--].OpisZadatak" class="form-control" value="--opisZadatak--" />
        </td>
        <td class="text-center col-sm-1">
            <input name="Zadaci[--id--].PrioritetZadatka" class="form-control" value="--prioritetZadatka--" />
        </td>
        <td class="text-center col-sm-1">
            <input name="Zadaci[--id--].StatusZadatka" class="form-control" value="--statusZadatka--" />
        </td>
        <td class="text-center col-sm-1">
            <input name="Zadaci[--id--].ProjektniZahtjev" class="form-control" value="--projektniZahtjev--" />
        </td>
        <td class="text-center col-sm-1">
            <input name="Zadaci[--id--].Suradnik" class="form-control" value="--suradnik--" />
        </td>
    </tr>
</table>
