@model RPPP_WebApp.Model.VrstaProjekta

<tr hx-target="this" hx-swap="outerHTML">
    <td class="text-start">
        <input type="hidden" asp-for="Id" class="form-control" />
    </td>
    <td class="text-start">
        <input asp-for="Vrsta" class="form-control" />
    </td>
    <td>
        <input type="hidden" asp-for="Id" />
        <button hx-include="closest tr"
                hx-post="@Url.Action(nameof(VrstaProjektaController.Edit))"
                class="btn btn-sm btn-success" title="Spremi">
            <i class="fas fa-save"></i>
        </button>
    </td>
    <td>
        <button class="btn btn-sm btn-secondary cancel"
                hx-get="@Url.Action(nameof(VrstaProjektaController.Get), new { id = Model.Id })"
                title="Odustani">
            <i class="fa-solid fa-rotate-left"></i>
        </button>
    </td>
    <td>
        <div asp-validation-summary="All"></div>
    </td>
</tr>