@model RPPP_WebApp.ViewModels.VrstaDokumentaViewModel

<tr hx-target="this" hx-swap="outerHTML">
    <td class="text-left">@Model.Id</td>
    <td class="text-left">@Model.VrstaDok</td>
    <td class="col-sm-1">
        <a class="btn btn-primary btn-sm"
           hx-get="@Url.Action(nameof(VrstaDokumentaController.Edit), new { id = Model.Id })"
           title="Ažuriraj"><i class="fa-solid fa-pen-to-square"></i></a>
    </td>
    <td class="col-sm-1">
        <button class="btn btn-sm btn-danger"
                hx-confirm="Obrisati vrstu dokumenta?"
                hx-delete="@Url.Action(nameof(VrstaDokumentaController.Delete), new { id = Model.Id })"
                title="Obriši">
            <i class="fa-solid fa-trash"></i>
        </button>
    </td>
</tr>

